{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} - {{ 'reset_password.title' | trans }}{% endblock %}

{% block body %}
    <section class="h-100 gradient-form" style="background-color: #eee;">
        <div class="container py-5 h-100">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col-xl-10">
                    <div class="card rounded-3 text-black">
                        <div class="row g-0">
                            <div class="col-lg-6">
                                <div class="card-body p-md-5 mx-md-4">

                                    <div class="text-center">
                                        <h4 class="mt-1 mb-2 pb-1">O.do.P</h4>
                                        <h5 class="mb-2 pb-1">{{ 'reset_password.title' | trans }}</h5>
                                    </div>

                                    {{ form_start(resetForm) }}
                                    {% if not resetForm.vars.valid %}
                                        <div class="alert alert-danger list-error">
                                            {{ form_errors(resetForm) }}
                                        </div>
                                    {% endif %}
                                    <div class="form-outline mb-4">
                                        <label for="inputPassword.first">{{ field_label(resetForm.plainPassword.first) }}</label>
                                        <input type="password"
                                               value="{{ field_value(resetForm.plainPassword.first) }}"
                                               name="{{ field_name(resetForm.plainPassword.first) }}"
                                               id="inputPassword.first" class="form-control" autocomplete="password"
                                               required>

                                    </div>

                                    <div class="form-outline mb-4">
                                        <label for="inputPassword.second">{{ field_label(resetForm.plainPassword.second) }}</label>
                                        <input type="password"
                                               value="{{ field_value(resetForm.plainPassword.second) }}"
                                               name="{{ field_name(resetForm.plainPassword.second) }}"
                                               id="inputPassword.second" class="form-control" autocomplete="password"
                                               required>
                                    </div>
                                    <button class="btn btn-primary btn-block mb-4 mt-2" type="submit">
                                        {{ 'reset_password.button' | trans }}
                                    </button>
                                    {{ form_end(resetForm) }}
                                </div>
                            </div>
                            {{ include('public_template/login_register_img.html.twig') }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
