{% extends 'email/email_template.html.twig' %}

{% block email_title %}
    {{ 'email.forgot_password.title' | trans }}
{% endblock %}

{% block email_header %}
    {{ 'email.forgot_password.header' | trans }}
{% endblock %}

{% block email_content %}
    <p>
        {{ 'email.forgot_password.body.1' | trans | raw }}
        <a class="button" href="{{ url('app_reset_password', {token: resetToken.token}) }}">{{ 'email.forgot_password.body.button' | trans }}</a><br>
        {{ 'email.forgot_password.body.2' | trans }}  {{ resetToken.expirationMessageKey|trans(resetToken.expirationMessageData, 'ResetPasswordBundle') }}
    </p>
{% endblock %}